@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style: none;
}

main {
  overflow: hidden;
  margin-inline: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.subNavbar {
  margin: 10px 0;
  padding: 5px 100px;
  display: flex;
  justify-content: space-evenly;
  background-color: burlywood;
  color: black;
}

.subNavbar > a {
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
}

.mugs {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-inline: 16px;
  flex-flow: row wrap;
}

.mug {
  display: flex;
  font-size: 22px;
  background-color: burlywood;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px #000;
  width: 23%;
  min-width: 300px;
  position: relative;
}

.mug:hover {
  box-shadow: 2px 2px 12px #000;
}

.mug > a {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mug > a > div > h2 {
  font-size: 40px;
}

.mug > a > img {
  margin-top: 25px;
  border-radius: 6px;
}

.arrow {
  position: absolute;
  bottom: 8px;
  right: 8px;
  color: white;
  background-color: #693004;
  padding: 0px 10px 4px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.mugText {
  font-size: 46px;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.mugSearch {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 16px;
}

.mugSearch > .searchIcon {
  position: absolute;
  right: 20px;
  bottom: 50%;
  transform: translateY(50%) rotate(90deg);
  background: url(/public/search-icon-grey.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.emptySearch {
  font-weight: bold;
  font-size: 20px;
}

.text {
  font-size: 40px;
}

.logo {
  width: 200px;
  height: 200px;
}

.linksContainer {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.link {
  color: #e7a877;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
  margin-left: 30px;
}

.link.active {
  color: #693004;
}

.sectionContainer,
.sectionContainerAcc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  gap: 100px;
  max-width: 1440px;
}

.sectionTextContainer {
  align-items: center;
}

h2 {
  color: #000;
  font-family: Arial;
  font-size: 76px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 30px;
}

p {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.heroImageCoffee {
  object-fit: cover;
  max-width: 60%;
}

.heroImageAcc {
  object-fit: cover;
  max-width: 50%;
}

.brownBar {
  background-color: #693004;
  height: 150px;
  display: block;
  min-height: 1px;
  width: 100vw;
  margin: 150px 0;
}

.sectionTitle {
  color: #000;
  text-align: center;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 128px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration-line: underline;
}

.grid {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gridElement {
  width: 40%;
  border-radius: 20px;
  background: rgba(105, 48, 4, 0.5);
  padding: 50px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  color: #000;
  font-family: Arial;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 25px 0;
}

.gridElementButton {
  border-radius: 20px;
  background: rgba(105, 48, 4, 0.5);
  color: #fff;
  text-align: center;
  font-family: Arial;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  padding: 20px;
  margin-top: 25px;
  display: inline;
  width: fit-content;
}

.gridButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gridMoreButton {
  display: inline;
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  padding: 20px;
  margin-top: 25px;
  display: none;
}

.footer {
  display: flex;
  background-color: rgba(105, 48, 4, 0.85);
  margin-top: 100px;
  width: 100%;
  padding: 65px;
  flex-direction: column;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 100px;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 300px;
}

.footerColumn:nth-of-type(2),
.footerColumn:nth-of-type(3) {
  align-items: flex-start;
}

.footerText {
  color: #fff;
  font-family: Arial;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

h4 {
  color: #fff;
  text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Arial;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 25px;
}

.footerLink,
.footerLinkPhone {
  color: #fff;
  font-family: Arial;
  font-size: 26px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-bottom: 10px;
}

.footerLinkPhone {
  margin-top: 20px;
}

.footerMedia {
  margin-top: 20px;
}

.phoneIcon,
.icon {
  display: inline;
}

.emailIcon {
  display: inline;
  width: 30px;
  margin-right: 10px;
}

.icon {
  width: 50px;
  cursor: pointer;
}

.copyright {
  color: #e7a877;
  text-align: center;
  font-family: Arial;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 100px;
}

.navbarMobile {
  display: none;
  background-color: #693004;
  padding: 0 20px 0 0;
}

.mobileLogo {
  width: 150px;
}

.hamburger {
  width: 100px;
  cursor: pointer;
}

.ofHidden {
  overflow: hidden;
}

.dropdown {
  height: calc(100vh - 150px);
  background-color: #86420e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 100px 20px;
}

.linkMobile {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
}

.accButton {
  display: none;
}

.footerMobile {
  display: none;
}

.notFound {
  min-height: unset;
  max-width: 100%;
}

.notFound > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 72px;
}

.notFound > img {
  padding: 16px;
  background-color: gainsboro;
}

.notFound > p {
  width: 1000px;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: none;
  }

  .emailIcon {
    margin-right: 5px;
  }

  .navbarMobile {
    display: flex;
    justify-content: space-between;
  }

  .sectionContainer {
    flex-direction: column-reverse;
    gap: 25px;
  }

  .sectionContainerAcc {
    flex-direction: column;
    gap: 25px;
  }

  .accText {
    display: none;
  }

  .heroImageAcc,
  .heroImageCoffee {
    max-width: 100%;
  }

  .accButton {
    border-radius: 20px;
    background: #693004;
    display: flex;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 25px;
    float: right;
  }

  h2 {
    font-size: 36px;
  }

  p {
    font-size: 26px;
  }

  .brownBar {
    margin: 0 0;
  }

  .sectionTitle {
    font-size: 50px;
  }

  .grid {
    flex-direction: column;
    align-items: center;
  }

  .gridElement {
    width: 76%;
  }

  .gridText {
    display: none;
  }

  .gridElementButton,
  .gridMoreButton {
    font-size: 36px;
  }

  .gridMoreButton {
    display: inline;
  }

  .footer {
    display: none;
  }

  .footerMobile {
    display: flex;
    display: flex;
    background-color: rgba(105, 48, 4, 0.85);
    margin-top: 100px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
  }

  .sitemap {
    margin-top: 50px;
  }

  .copyright {
    font-size: 24px;
    margin: 35px 0 10px;
  }
}

@media screen and (max-width: 450px) {
  .post > div > p {
    font-size: 16px;
    width: calc(100% - 40px);
  }

  .notFound > h1 {
    font-size: 44px !important;
    padding: 15px 40px 0;
  }

  .notFound > p {
    font-size: 28px !important;
    padding: 0 60px;
  }
  .gridElement {
    justify-content: space-between;
    width: calc(100% - 32px) !important;
  }
  .gridElementButton,
  .gridMoreButton {
    font-size: 28px;
  }

  .gridMoreButton {
    display: none;
  }

  .subNavbar {
    padding: 5px 0 !important;
  }
}

.searchInput {
  border: 1px solid black;
  border-radius: 3px;
  right: 20px;
  bottom: 10px;
  background: url(/search-icon-grey.svg);
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 20px;
  padding-right: 40px;
  padding-left: 4px;
}

.searchInput:focus {
  outline: none;
}

.singleMug {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  background-color: rgba(69, 30, 04, 50%);
  margin: 25px;
  border-radius: 16px;
  padding: 25px;
}

.singleMug > div > h1 {
  font-weight: bold;
  font-size: 26px;
  text-shadow: 1px 1px 4px gray;
}

.singleMug > img {
  border-radius: 4px;
  width: min-content;
  box-shadow: 1px 1px 4px #693004;
}

.blogContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.blogContainer > a {
  width: 32%;
  display: flex;
  width: fit-content;
}

.post {
  display: flex;
  justify-content: center;
  background-color: #6930047e;
  box-shadow: 1px 1px 4px #693004;
  margin-bottom: 16px;
  padding: 12px;
  gap: 8px;
  position: relative;
  cursor: pointer;
  min-height: 100px;
}

.post:hover {
  box-shadow: 1px 1px 8px #693004;
}

.blogContainer > a:nth-child(1) {
  width: 49%;
}
.blogContainer > a:nth-child(2) {
  width: 49%;
}

.post > div > h1 {
  font-weight: bold;
  font-size: 22px;
  text-shadow: 1px 1px 4px gray;
}

.blogContainer > a:nth-child(1) > .post > div > h1,
.blogContainer > a:nth-child(2) > .post > div > h1 {
  margin-top: 5%;
}

.post > div > p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.post > img {
  border-radius: 6px;
}

.post > a {
  position: absolute;
  bottom: 8px;
  right: 8px;
  color: white;
  background-color: #693004;
  padding: 0px 10px 4px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.blogsTitle {
  font-size: 46px;
  text-align: center;
  text-decoration: underline;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 25px;
}

.singlePost > a {
  margin-left: 16px;
  font-weight: bold;
}

.singlePost > .singleMug {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.singlePost > .singleMug > div {
  max-width: 50%;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7a877;
  box-shadow: 1px 1px 4px #60320e;
  max-width: 1000px;
  margin-inline: auto;
  padding: 16px;
  border-radius: 12px;
}

.aboutUs > h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aboutUsSection {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  font-weight: 500;
  color: #60320e;
}

.aboutUsSection > h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  font-weight: bolder;
  color: #2e1705;
  font-size: 36px;
}

@media screen and (max-width: 1440px) {
  .blogContainer > a > .post {
    flex: 1;
  }

  .blogContainer > a:nth-child(3) {
    width: 31%;
  }
  .blogContainer > a:nth-child(4) {
    width: 31%;
  }
  .blogContainer > a:nth-child(5) {
    width: 31%;
  }
}

@media screen and (max-width: 1240px) {
  .post > img {
    width: 35% !important;
  }
  h2 {
    font-size: 64px;
  }

  p {
    font-size: 26px;
  }

  .sectionTitle {
    font-size: 100px;
  }

  h3 {
    font-size: 46px;
  }

  .gridElementButton {
    font-size: 36px;
  }

  .brownBar {
    margin: 100px 0;
  }

  .footer {
    padding: 36px;
  }

  .footerContainer {
    padding: 0 50px;
  }

  .footerColumn > p {
    text-align: center;
    font-size: 28px;
  }

  .footerColumn > h4 {
    font-size: 32px;
  }

  .footerColumn > .footerLink {
    font-size: 24px;
  }

  .footerColumn > .footerLinkPhone {
    font-size: 24px;
  }

  .footerColumn > .footerLinkPhone > .phoneIcon {
    height: 40px;
  }

  .footer > .copyright {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .notFound {
    min-height: unset;
    max-width: 100%;
  }

  .notFound > h1 {
    font-size: 64px;
  }

  .notFound > img {
    width: 75%;
  }

  .notFound > p {
    width: unset;
    margin-top: 40px;
    font-size: 42px;
    padding: 0 80px;
  }

  .singlePost > .singleMug {
    display: flex;
    flex-direction: column;
  }

  .singlePost > .singleMug > div {
    max-width: 100%;
  }
  .post {
    justify-content: space-between;
  }
  .post > div {
    max-width: 400px;
  }
  .blogContainer {
    flex-direction: column;
    margin-inline: 50px;
  }

  .blogContainer > a {
    width: 100% !important;
  }

  h2 {
    font-size: 50px;
  }

  p {
    font-size: 22px;
  }

  .sectionContainer,
  .sectionContainerAcc {
    gap: 40px;
    padding: 50px;
  }

  .sectionTitle {
    font-size: 76px;
  }

  .brownBar {
    margin: 50px 0;
  }

  .aboutUs {
    margin-inline: 12px;
  }

  .mug > a > div > h2 {
    font-size: 32px;
  }

  .mug > a > div > p {
    font-size: 24px;
  }

  .footerContainer {
    padding: 0 0;
  }

  .blogContainer > a > .post > img {
    width: 33%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .footer {
    padding: 30px;
  }

  .footerColumn > p {
    font-size: 24px;
  }

  .footerColumn > h4 {
    font-size: 28px;
  }

  .footerColumn > .footerLink {
    font-size: 20px;
  }

  .footerColumn > .footerLinkPhone {
    font-size: 20px;
  }

  .footer > .copyright {
    font-size: 20px;
  }

  .footer > .footerContainer > .footerColumn > .footerMedia > .icon {
    width: 40px;
  }

  .footerColumn:nth-of-type(2) {
    width: auto;
    margin-right: 45px;
  }
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }

  .sectionContainer,
  .sectionContainerAcc {
    gap: 20px;
    padding: 25px;
  }

  h3 {
    font-size: 38px;
  }

  .gridElementButton {
    font-size: 32px;
  }
}

@media screen and (max-width: 600px) {
  .notFound > h1 {
    text-align: center;
    font-size: 56px;
  }

  .notFound > img {
    margin-top: 15px;
  }

  .notFound > p {
    font-size: 36px;
    padding: 0 60px;
  }

  .brownBar {
    height: 75px;
    margin: 30px 0;
  }
  .gridElement {
    margin-top: 35px;
  }
  .gridElement > div > h3 {
    font-size: 30px;
  }
  .aboutUs {
    margin-top: 16px;
  }

  .mug > a > div > h2 {
    font-size: 26px;
  }

  .mug > a > div > p {
    font-size: 20px;
  }

  .sectionTitle {
    font-size: 54px;
  }

  .blogContainer {
    margin-inline: 16px;
  }

  .blogContainer > a > .post {
    flex-direction: column;
  }

  .blogContainer > a > .post > img {
    width: 45%;
  }

  .navbarMobile {
    height: 100px;
    align-items: center;
  }

  .subNavbar {
    padding: 5px 45px;
  }

  .mobileLogo {
    height: 120px;
  }

  .hamburger {
    width: 45px;
    height: 45px;
  }

  .dropdown {
    height: calc(100vh - 100px);
  }

  .footerMobile {
    margin-top: 16px;
  }

  .footerMobile > h4 {
    font-size: 26px;
  }

  .footerMobile > span {
    font-size: 20px;
  }

  .footerMobile > span > .phoneIcon {
    height: 36px;
  }

  .footerMobile > .footerMedia > .icon {
    width: 30px;
  }

  .footerMobile > .footerMedia > .icon:nth-child(3) {
    transform: scale(1.1);
  }

  .sitemap {
    margin-bottom: 15px;
    margin-top: 30px;
  }

  .footerMobile > .footerLink {
    font-size: 20px;
  }

  .copyright {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .sectionTitle {
    font-size: 42px;
  }
}

@media screen and (max-width: 325px) {
  .sectionTitle {
    font-size: 36px;
  }
  .notFound > h1 {
    font-size: 32px !important;
    padding: 15px 15px 0px;
  }

  .notFound > p {
    font-size: 20px !important;
    padding: 0 30px;
  }
}

@media screen and (max-width: 275px) {
  .sectionTitle {
    font-size: 32px;
  }
}

.footer > .footerContainer > .footerColumn > .footerMedia > .icon:first-child {
  transform: scale(1.02);
  margin-right: 2px;
}

.footer > .footerContainer > .footerColumn > .footerMedia > .icon:nth-child(2) {
  margin-right: 1px;
}

.footer > .footerContainer > .footerColumn > .footerMedia > .icon:nth-child(3) {
  transform: scale(1.1);
  margin-right: 2px;
}
